<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="/javascripts/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.on("Server-send-msg", function(msg){
      $("#board").append(msg+"; ");
      })
     
      $(document).ready(function(){
        $("#myb").click(function(){
          socket.emit("Client-send-msg", document.getElementById("message").value);
        })
      })
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Form control: giao dien chat</h2>
    <div class='form-group'>
      <label for='room1'>Room1:</label>
      <textarea class='form-control' name='room1' id='board' rows='5'></textarea>
    </div>
    <div class='form-group'>
      <label for='message'>Input Message:</label>
      <input class='form-control' type='text' name='message' id='message'></input>
    </div>
    <div id="myb">
      <button type="button" class="btn btn-primary btn-lg">Gui</button>
    </div>
  </body>
</html>
